h1{
    color:#f07167;
}

/*Se pueden asignar estilos a diferentes eventos con una ,*/
a:link,a:visited{
    background-color: purple;
    color:white;
    padding:15px 25px ;
    text-align:center;
    text-decoration: none;
    display: inline-block;
}

/*Evento cuando nos ponemos encima del link*/
a:hover,a:active{
    background-color: rgb(62, 26, 109);
}

img{
    width:50px;
    height: 50px;
}
