
label{
   margin:10px 30px;
    display:block;
}
input{
    width:80%;
    display:block;
    border-radius: 5px;
    border:0px;
    background-color:beige;
    padding: 2%;
    margin:10px 0px 10px 30px ;
}
h1{
    padding:2%;
    margin:10px ;
    width:80%;
}
button{
    text-align: center;
    letter-spacing: 5px;
    padding:2%;
    border:0px;
    background-color: rgb(172, 205, 235);
    border-radius: 5px;
    margin:0px 10px 30px 30px;
}
.container{
    background-color: rgb(193, 219, 240);
    width:80%;
    margin:10px 10%;
    border-radius: 10px;
}